@use '../../../variables.scss' as vars;

.dynamic_button{
    background-color: vars.$secondary_color;
    border: 1px solid black;
    color: vars.$base_color;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(138, 138, 138);
    font-size: 1rem;

}
.dynamic_button:hover{
    cursor: pointer;
}
.dynamic_button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}