@use '../../variables.scss' as vars;

.qr_scanner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: vars.$primary_color !important;
    .content_heading{
        color: vars.$primary_color !important;
    }
    .qr_container {
        width: clamp(300px, 95%, 1000px);
        min-height: 500px;
    }

    .input-card {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .qr-card {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .qr_scanner_container {
            display: flex;
            flex-direction: column;
        }
    }

    .download-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.jwt_page_title {
    text-align: center;
    margin-bottom: 32px;
    color: vars.$secondary_color;
}