.card__container{
    // backdrop-filter: blur(4px) saturate(150%);
    // -webkit-backdrop-filter: blur(8px) saturate(300%);
    // background-color: rgba(255, 255, 255, 0.4);
    // // border-radius: 12px;
    // border: 1px solid rgba(255, 255, 255, 0.67);
    // color: black;
    // filter: drop-shadow(0 0 10px rgb(226, 230, 246));
    // overflow-y: auto;
    // border-radius: 10px;

    background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(0px);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 20px;
            // padding: 20px;
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            position: relative;
            overflow: hidden;
            cursor: pointer;

}



// .brutalist-card {
    
//   }