@use '../../variables.scss' as vars;

.nav_bar_container{
    position: fixed;
    width: 100vw;
    z-index: 2;
    height: 50px;
    .nav_bar_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 40px;
        height: 100%;
        width: 100%;
    }
}
.nav_bar{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    color: black;
    text-decoration: none;
}
.nav_bar_logo{
    font-size: 1.2rem;
    color: vars.$secondary_color;
}